<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <header class="container" id="header" th:fragments="head">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <div class="col-md-3 mb-2 mb-md-0">
                    <a th:href="@{/}" class="d-inline-flex link-body-emphasis text-decoration-none">
                        <h2><i class="bi bi-truck"></i></h2>
                    </a>
                </div>

                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a th:href="@{/}" class="px-2 btn btn-outline-secondary">Home</a></li>
                    <li><a th:href="@{/logout}" class="px-2 btn btn-outline-danger">Logout</a></li>
                </ul>
            </header>
        </header>
    </body>
</html>